body{
    font-family: 'Outfit', sans-serif;
    background-color: #0d192b;
}
hr{
    border: 1px solid;
    border-color: #2f415b;
}
h1{
    color: white;
    font-size: 1.25rem;
    
}
h5{
    color:	#8bacda;
    font-size: 1rem;
    line-height: 1.5;
    margin: 15px 0;
}
.card{
    padding: 20px;
    margin: 10%;
    background-color: #14253d;
    max-width: 344px;
    border-radius: 2.5%;
}
.price{
    color: #00fff7;
}
.time-left{
    color: #8bacda;
    text-align: right;
}
.creator{
    color: white;
}
.description{
    line-height: 2;
    margin-left: 50px;
    color: #8bacda;
}
.creator-img{
    float: left;
    height: 35px;
    border: 1px solid;
    border-radius: 50%;
    border-color: white;
}
